<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<h3>Contact Form</h3>
<hr>
 <form action="#" th:action="@{/contacts/save}"
    th:object="${contact}" method="POST">
    <input style="display:none" type="text" th:field="*{id}" placeholder="Id"
           class="form-control mb-4 col-4">
     Name:
     <div th:classappend="${#fields.hasErrors('name')} ? 'input-icon right' : ''">
       <i th:if="${#fields.hasErrors('name')}" class="fa fa-exclamation tooltips" data-original-title="please enter a valid name" data-container="body"></i>
       <input type="text" class="form-control" maxlength="16" th:field="*{name}" th:required="required" placeholder="Enter a name between 1 and 16 characters"/>
       <span style="color:red" th:if="${#fields.hasErrors('name')}" class="help-block" th:errors="*{name}"></span>
       </div>
   <hr>
        
    Phone:
   <div th:classappend="${#fields.hasErrors('phone')} ? 'input-icon right' : ''">
        <i th:if="${#fields.hasErrors('phone')}" class="fa fa-exclamation tooltips" data-original-title="please enter a valid phone" data-container="body"></i>
        <input type="text" class="form-control" maxlength="10" th:field="*{phone}" th:required="required" placeholder="Enter a 10 digit phone number"/>
        <span style="color:red" th:if="${#fields.hasErrors('phone')}" class="help-block" th:errors="*{phone}"></span>
    </div>
    <hr>
      <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <br>
    <a th:href="@{/contacts/list}">Back to Contacts List</a>
</body>