<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h3>Contacts</h3>
<hr>
<a th:href="@{/contacts/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Contact</a>
<form action="#" th:action="@{/contacts/showRequested}">
  <input type="text" th:name="contactName"/>
  <input type="submit" value="Search">
</form>
<table class="table table-bordered table-striped">
 <thead class="thead-dark">
   <tr>
   
      <th style="display:none;">Id</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="tempContact : ${contacts}">
      <td style="display:none" th:text="${tempContact.id}"/>
      <td th:text="${tempContact.name}" />
      <td th:text="${tempContact.phone}" />
      <td>
      <a th:href="@{/contacts/showFormForUpdate(contactId=${tempContact.id})}"
           class="btn btn-info btn-sm">Update</a>
      <a th:href="@{/contacts/delete(contactId=${tempContact.id})}"
           class="btn btn-danger btn-sm"
           onclick="if(!confirm('Are you sure?')))return false">Delete</a>
           </td>
     </tr>
   </tbody>
</table>
</div>
</body>

</html>